/* font-family: 'Lobster', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Pacifico', cursive; */

<style> @import url('https://fonts.googleapis.com/css?family=Lobster|Muli|Oxygen|Pacifico&display=swap');
</style>



.tagline{
    font-family: 'Lobster', cursive;
    color:  mediumvioletred;
}

h2,h3,{
    font-family: font-family: 'Oxygen', sans-serif;
}

resources{
    font-family:'Pacifico', cursive;
    color:blue
}










a:visited{
    color:royalblue;
     }

a:hover{
    color:dimgrey;
}

a{
    color:navajowhite
}

