/* font-family: 'Lobster', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Pacifico', cursive; */

<style> @import url('https://fonts.googleapis.com/css?family=Lobster|Muli|Oxygen|Pacifico&display=swap');
</style>
 {
    font-family: 'Lobster', cursive;
}

h1 {
    color: yellowgreen
}

.skills {
    font-family: 'Muli', sans-serif;
    font-weight: 70
}

.skills {
    color: blueviolet
}

.resources {
    font-family: 'Pacifico', cursive;
    color: darkgoldenrod
}

a:visited {
    color: royalblue;
}

a:hover {
    color: yellow;
}

a {
    color: mediumslateblue
}

body {
    background-color: navajowhite
        /* midnightblue */
}
