/* font-family: 'Lobster', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Pacifico', cursive; */

<style> @import url('https://fonts.googleapis.com/css?family=Lobster|Muli|Oxygen|Pacifico&display=swap');
</style>

.tagline{
    font-family:'Lobster', cursive;
    color: yellow;
}

.skills{
    font-family:'Muli', sans-serif;
    font-weight: 100
   }

.skills{
     color:blueviolet
}

h2,
h3 {
    font-family: font-family: 'Oxygen', sans-serif;
    color: orchid
}

.resources {
    font-family: 'Pacifico', cursive;
    color: darkgoldenrod
}

a:visited {
    color: royalblue;
}

a:hover {
    color: yellow;
}

a {
    color: mediumslateblue
}

body {
    background-color: navajowhite
}
